section.stats
	.container 
		.stats__top
			h2.title-2 Полезные статьи
			a(href="#").g-link.g-link-gray.g-link-tdu Смотреть все
		.stats__row 
			a(href="articles.html").stats__elem 
				.stats__img 
					img.img(src="web/images/content/stats-1.png", alt="")
				.stats__body 
					h4.title-4 Каждый из нас понимает очевидную вещь: курс на социально
					p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в ...  
					.stats__bottom 
						+icon('calendar')
						span 10 июня 2021
			a(href="articles.html").stats__elem 
				.stats__img 
					img.img(src="web/images/content/stats-2.png", alt="")
				.stats__body 
					h4.title-4 Каждый из нас понимает очевидную вещь: курс на социально
					p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в ...  
					.stats__bottom 
						+icon('calendar')
						span 10 июня 2021