header.header.scroll-bar
	.header__info
		.container
			.header__info-wrap
				ul.header__info-menu
					li
						a(href="card.html").g-link.g-link-white  О компании
					li
						a(href="service.html").g-link.g-link-white  Доставка и оплата
					li
						a(href="search.html").g-link.g-link-white  Сервис и поддержка
					li
						a(href="articles.html").g-link.g-link-white  Контакты 
				.header__info-date
					a(href="tel:+7(495)229-30-84").g-link.g-link-white   +7(495)229-30-84 
					p C  9-18 c понедельника по пятницу
				.header__info-autoriz
					a(href="#").g-link.g-link-white 
						+icon('user-2')
						span Войти / Регистрация
	.header__block
		.container
			.header__block-wrap
				a(href="index.html" title="Brand Select").header__logo
					img.img(src="web/images/content/logo.svg", alt="header__logo")
				a().header__catalog.cl-em
					.burger 
						span
					p Каталог
					+icon('down')
				.submenu3
					.submenu__wrap
						.submenu__column
							ul
								li 
									a(href="#") 
										span Онлайн кассы1
								li.submenu__li
									a(href="#") Выпуск ЭЦП
								li.submenu__li
									a(href="#") Техническое обслуживание и сопровождение
								li.submenu__li
									a(href="#") Регистрация онлайн кассы в ФНС
								li.submenu__li
									a(href="#") Подключение к ОФД
								li.submenu__li
									a(href="#") Ввод ККТ в эксплуатацию
								li.submenu__li
									a(href="#") Замена фискального накопителя
								li.submenu__li
									a(href="#") Смена параметров регистрации
								li.submenu__li
									a(href="#") Снятие ККТ с учета в ФНС
								li.submenu__li
									a(href="#") Перепрошивка ККТ
								li.submenu__li
									a(href="#") Обучение работе с ККТ
								li.submenu__li
									a(href="#") Изменение СНО
								li.submenu__li
									a(href="#") Настройка онлайн кассы
								li.submenu__li
									a(href="#") Подключение онлайн кассы к ПК
								li.submenu__li
									a(href="#") Ввод товаров в кассу
								li.submenu__li
									a(href="#") Технологическое обнуление онлайн кассы
								li.submenu__li
									a(href="#") Инициализация ККТ
								li.submenu__li
									a(href="#") Диагностика с удалённым подключением
								li.submenu__li
									a(href="#") Ремонт онлайн кассы
						.submenu__column
							ul
								li
									a(href="#") 
										span Смарт-терминал ЭВОТОР
								li.submenu__li
									a(href="#") Продление гарантии на Эвотор
								li.submenu__li
									a(href="#") Снятие блокировки с кассы
								li.submenu__li
									a(href="#") Полный сброс настроек
								li.submenu__li
									a(href="#") Диагностика с удалённым подключением
								li.submenu__li
									a(href="#") Сервисное обслуживание
								li.submenu__li
									a(href="#") Ввод номенклатуры
								li.submenu__li
									a(href="#") Настройка маркировки
								li.submenu__li
									a(href="#") Обучение работе с маркировкой
								li.submenu__li
									a(href="#") Настройка ЕГАИС
								li.submenu__li
									a(href="#") Обучение работе с ЕГАИС
								li.submenu__li
									a(href="#") Установка дополнительных приложений из Эвотор маркета
								li.submenu__li
									a(href="#") Регистрация Эвотор
								li.submenu__li
									a(href="#") Снятие Эвотор с регистрационного учета
							ul
								li
									a(href="#") 
										span Смарт-терминал АТОЛ Sigma
								li.submenu__li
									a(href="#") Полный сброс настроек
								li.submenu__li
									a(href="#") Диагностика с удалённым подключением
								li.submenu__li
									a(href="#") Полный сброс настроек
								li.submenu__li
									a(href="#") Диагностика с удалённым подключением
						.submenu__column
							ul
								li
									a(href="#") 
										span Оборудование для штрихкодирования
								li.submenu__li
									a(href="#") Подключение и настройка принтеров этикеток 
								li.submenu__li
									a(href="#") Ремонт принтеров этикеток
								li.submenu__li
									a(href="#") Подключение и настройка сканеров штрихкода
								li.submenu__li
									a(href="#") Ремонт сканеров штрихкода
								li.submenu__li
									a(href="#") Подключение и настройка ТСД
								li.submenu__li
									a(href="#") Ремонт ТСД
								li.submenu__li
									a(href="#") Подключение и настройка микрокиосков
							ul
								li
									a(href="#") 
										span Эквайринг 
								li.submenu__li
									a(href="#") Настройка и подключение к Эвотор
								li.submenu__li
									a(href="#") Настройка и подключение к Sigma
								li.submenu__li
									a(href="#") Подключение к типовым конфигурациям 1С
								li.submenu__li
									a(href="#") Подключение к Frontol
						.submenu__column
							ul
								li
									a(href="#") 
										span Весовое оборудование
								li.submenu__li
									a(href="#") Подключение и настройка весов к  Эвотор
								li.submenu__li
									a(href="#") Подключение и настройка весов к Sigma
								li.submenu__li
									a(href="#") Подключение и настройка весов к 1С
								li.submenu__li
									a(href="#") Подключение и настройка весов к Frontol
								li.submenu__li
									a(href="#") Подключение и настройка весов с печатью этикеток
							ul
								li
									a(href="#") 
										span Автоматизация торговли 
								li.submenu__li
									a(href="#") Автоматизация на Frontol
								li.submenu__li
									a(href="#") Автоматизация на МойСклад
								li.submenu__li
									a(href="#") Автоматизация на Sigma
								li.submenu__li
									a(href="#") Автоматизация на Эвотор
								li.submenu__li
									a(href="#") Автоматизация на Бифит касса
								li.submenu__li
									a(href="#") Автоматизация торговли на типовых  программных продукитах 1С
								li.submenu__li
									a(href="#") Автоматизация торговли на отраслевых программных продуктах 1С
				.header__burger.header__menu-button.cl-em
					span Меню
				.header__center
					nav.header__menu
						ul.topmenu
							li.topmenu__item
								a(href="#").topmenu__item-link.topmenu__item-link-js.topmenu__item-link-services
									span Услуги
									+icon('t-down')
								.submenu
									.submenu__wrap
										.submenu__column
											ul
												li
													a(href="service.html") 
														span Онлайн кассы
												li.submenu__li
													a(href="service.html") Выпуск ЭЦП
												li.submenu__li
													a(href="service.html") Техническое обслуживание и сопровождение
												li.submenu__li
													a(href="service.html") Регистрация онлайн кассы в ФНС
												li.submenu__li
													a(href="service.html") Подключение к ОФД
												li.submenu__li
													a(href="service.html") Ввод ККТ в эксплуатацию
												li.submenu__li
													a(href="service.html") Замена фискального накопителя
												li.submenu__li
													a(href="service.html") Смена параметров регистрации
												li.submenu__li
													a(href="service.html") Снятие ККТ с учета в ФНС
												li.submenu__li
													a(href="service.html") Перепрошивка ККТ
												li.submenu__li
													a(href="service.html") Обучение работе с ККТ
												li.submenu__li
													a(href="service.html") Изменение СНО
												li.submenu__li
													a(href="service.html") Настройка онлайн кассы
												li.submenu__li
													a(href="service.html") Подключение онлайн кассы к ПК
												li.submenu__li
													a(href="service.html") Ввод товаров в кассу
												li.submenu__li
													a(href="service.html") Технологическое обнуление онлайн кассы
												li.submenu__li
													a(href="service.html") Инициализация ККТ
												li.submenu__li
													a(href="service.html") Диагностика с удалённым подключением
												li.submenu__li
													a(href="service.html") Ремонт онлайн кассы
										.submenu__column
											ul
												li
													a(href="service.html") 
														span Смарт-терминал ЭВОТОР
												li.submenu__li
													a(href="service.html") Продление гарантии на Эвотор
												li.submenu__li
													a(href="service.html") Снятие блокировки с кассы
												li.submenu__li
													a(href="service.html") Полный сброс настроек
												li.submenu__li
													a(href="service.html") Диагностика с удалённым подключением
												li.submenu__li
													a(href="service.html") Сервисное обслуживание
												li.submenu__li
													a(href="service.html") Ввод номенклатуры
												li.submenu__li
													a(href="service.html") Настройка маркировки
												li.submenu__li
													a(href="service.html") Обучение работе с маркировкой
												li.submenu__li
													a(href="service.html") Настройка ЕГАИС
												li.submenu__li
													a(href="service.html") Обучение работе с ЕГАИС
												li.submenu__li
													a(href="service.html") Установка дополнительных приложений из Эвотор маркета
												li.submenu__li
													a(href="service.html") Регистрация Эвотор
												li.submenu__li
													a(href="service.html") Снятие Эвотор с регистрационного учета
											ul
												li
													a(href="service.html") 
														span Смарт-терминал АТОЛ Sigma
												li.submenu__li
													a(href="service.html") Полный сброс настроек
												li.submenu__li
													a(href="service.html") Диагностика с удалённым подключением
												li.submenu__li
													a(href="service.html") Полный сброс настроек
												li.submenu__li
													a(href="service.html") Диагностика с удалённым подключением
										.submenu__column
											ul
												li
													a(href="service.html") 
														span Оборудование для штрихкодирования
												li.submenu__li
													a(href="service.html") Подключение и настройка принтеров этикеток 
												li.submenu__li
													a(href="service.html") Ремонт принтеров этикеток
												li.submenu__li
													a(href="service.html") Подключение и настройка сканеров штрихкода
												li.submenu__li
													a(href="service.html") Ремонт сканеров штрихкода
												li.submenu__li
													a(href="service.html") Подключение и настройка ТСД
												li.submenu__li
													a(href="service.html") Ремонт ТСД
												li.submenu__li
													a(href="service.html") Подключение и настройка микрокиосков
											ul
												li
													a(href="service.html") 
														span Эквайринг 
												li.submenu__li
													a(href="service.html") Настройка и подключение к Эвотор
												li.submenu__li
													a(href="service.html") Настройка и подключение к Sigma
												li.submenu__li
													a(href="service.html") Подключение к типовым конфигурациям 1С
												li.submenu__li
													a(href="service.html") Подключение к Frontol
										.submenu__column
											ul
												li
													a(href="service.html") 
														span Весовое оборудование
												li.submenu__li
													a(href="service.html") Подключение и настройка весов к  Эвотор
												li.submenu__li
													a(href="service.html") Подключение и настройка весов к Sigma
												li.submenu__li
													a(href="service.html") Подключение и настройка весов к 1С
												li.submenu__li
													a(href="service.html") Подключение и настройка весов к Frontol
												li.submenu__li
													a(href="service.html") Подключение и настройка весов с печатью этикеток
											ul
												li
													a(href="service.html") 
														span Автоматизация торговли 
												li.submenu__li
													a(href="service.html") Автоматизация на Frontol
												li.submenu__li
													a(href="service.html") Автоматизация на МойСклад
												li.submenu__li
													a(href="service.html") Автоматизация на Sigma
												li.submenu__li
													a(href="service.html") Автоматизация на Эвотор
												li.submenu__li
													a(href="service.html") Автоматизация на Бифит касса
												li.submenu__li
													a(href="service.html") Автоматизация торговли на типовых  программных продукитах 1С
												li.submenu__li
													a(href="service.html") Автоматизация торговли на отраслевых программных продуктах 1С
							li.topmenu__item
								a(href="#").topmenu__item-link
									span Отраслевые решения 
							li.topmenu__item.topmenu__item-link-rel
								a(href="#").topmenu__item-link.topmenu__item-link-selecting.topmenu__item-link-js
									span Подбор решения
									+icon('t-down')
								.submenu2
									.submenu2__wrap
										.submenu2__column
											ul
												li.submenu__li
													a(href="#") Автоматизация на Frontol
												li.submenu__li
													a(href="#") Автоматизация на МойСклад
												li.submenu__li
													a(href="#") Автоматизация на Sigma
												li.submenu__li
													a(href="#") Автоматизация на Эвотор
							li.topmenu__item
								a(href="#").topmenu__item-link.topmenu__item-link-last
									strong %    
									span Распродажа
					.header__search
						.header__search-inp
							input(type="text")
							.header__search-inp-el
								+icon('search')
						.header__search-block
							.header__search-categ 
								.header__search-categ-top
									h4 Кателогии
									.header__search-categ-close 
										+icon('close')
								ul
									li 
										a(href="#") Принтеры этикеток
									li 
										a(href="#") Маркировка товаров
									li 
										a(href="#") POS-системы в соответствии 54-ФЗ
							.header__search-products.products
								.products__elem 
									.products__img
										img.img(src="web/images/content/product-1.png", alt="product-1")
									.products__body 
										a(href="#") Смарт-терминал Эвотор 5i с эквайрингом
										.products__body-price.products__body-price-w
											span.rub.products__body-newPrice 12 345 
											span.rub.products__body-oldPrice от 12 345 
								.products__elem 
									.products__img
										img.img(src="web/images/content/product-1.png", alt="product-1")
									.products__body 
										a(href="#") Смарт-терминал Эвотор 5i с эквайрингом
										.products__body-price.products__body-price-w
											span.rub.products__body-price 12 345 
								.products__elem 
									.products__img
										img.img(src="web/images/content/product-1.png", alt="product-1")
									.products__body 
										a(href="#") Смарт-терминал Эвотор 5i с эквайрингом
										.products__body-price.products__body-price-w
											span.rub.products__body-price 12 345 
								.products__elem 
									.products__img
										img.img(src="web/images/content/product-1.png", alt="product-1")
									.products__body 
										a(href="#") Смарт-терминал Эвотор 5i с эквайрингом
										.products__body-price
											span.rub.products__body-price 12 345
								.products__elem 
									.products__img
										img.img(src="web/images/content/product-1.png", alt="product-1")
									.products__body 
										a(href="#") Смарт-терминал Эвотор 5i с эквайрингом
										.products__body-price.products__body-price-w
											span.rub.products__body-price 12 345
								.products__elem 
									.products__img
										img.img(src="web/images/content/product-1.png", alt="product-1")
									.products__body 
										a(href="#") Смарт-терминал Эвотор 5i с эквайрингом
										.products__body-price.products__body-price-w
											span.rub.products__body-price 12 345
								a(href="#").g-link.g-link-accent Все найденные товары (15)
					.header__basket
						.header__basket-wrap
							.header__basket-body
								p
									strong.header__basket-body-val 5 
									span.header__basket-body-cont товаров 
								p.rub 123560 
							.header__basket-icon 
								+icon('basket')
								span 10
						.header__basket-prod 
							.header__basket-prod-wrap
								.products__elem.products__elem-basket 
									.products__img
										img.img(src="web/images/content/product-2.png", alt="product-1")
									.products__body
										.products__body-wrap 
											a(href="#") Смарт-терминал Эвотор 5i с эквайрингом
											.products__body-close
												+icon('close')
										.products__body-price.products__body-price-w
											span.products__body-priceSm.products__body-priceSm-value 1 
											span.products__body-priceSm.products__body-priceSm-text шт.
											span.rub.products__body-newPrice.products__body-price-js 12 345 
											span.rub.products__body-oldPrice от 12 345 
								.products__elem.products__elem-basket 
									.products__img
										img.img(src="web/images/content/product-2.png", alt="product-1")
									.products__body
										.products__body-wrap 
											a(href="#") Смарт-терминал Эвотор 5i с эквайрингом
											.products__body-close
												+icon('close')
										.products__body-price.products__body-price-w
											span.products__body-priceSm.products__body-priceSm-value 3 
											span.products__body-priceSm.products__body-priceSm-text шт.
											span.rub.products__body-price.products__body-price-js 12 000 
							.products__inform
								a(href="#").g-link.clearBasketSM Очистить корзину
								a(href="basket.html").g-link.g-link-accent Перейти в корзину
		.header__bottom
			.container
				.header__bottom-wrap
