section.aboutCompany
	.container 
		
		.aboutCompany__wrap 
			.aboutCompany__left
				h2.title-2 О компании
				p Группа компаний «Брэнд Селект» занимается продажей и внедрением торгово-кассового оборудования и программного обеспечения для крупных магазинов, среднего бизнеса и небольших торговых точек.
				p Мы поставляем технику, выпускаемую известными российскими и зарубежными производителями (АТОЛ, Эвотор, Штрих-М, Godex, TSC и т. д.), а также реализуем сканеры штрихкодов Winson собственной разработки. Наши специалисты осуществляют комплексную технологическую поддержку клиентов, включающую установку, подключение и тестирование оборудования, его замену и ремонт при возникновении неисправностей в рамках гарантийного и постгарантийного сервиса ...
				.aboutCompany__sert 
					a(href="web/images/content/sert.jpg" data-rel="lightcase:a").aboutCompany__elem
						.aboutCompany__top 
							span Сертификат
							+icon('eye')
						h4 ООО «АСЦ БРЭНД СЕЛЕКТ»ДИСТРИБЬЮТОР
					a(href="web/images/content/sert.jpg" data-rel="lightcase:a").aboutCompany__elem
						.aboutCompany__top 
							span Сертификат
							+icon('eye')
						h4 Brand Select Company LLC
			.aboutCompany__right
				img.img(src="web/images/content/aboutCompany-img.jpg", alt="")
				