section.videoReviews
	.container 
		.videoReviews__top
			h2.title-3 Видеобзоры
			a(href="#").g-link.g-link-gray.g-link-tdu Смотреть все
		.videoReviews__wrap 
			.videoReviews__column 
				.videoReviews__elem
					.videoReviews__img
						.timeblock-video
							.videoWrapper.videoWrapper169.js-videoWrapper(data-id="pWZz9gYXGoA")
								.videoPoster.js-videoPoster.flex-center
					.videoReviews__body 
						a(href="#")  Название товара
						p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) 
			.videoReviews__column 
				.videoReviews__elem
					.videoReviews__img
						.timeblock-video
							.videoWrapper.videoWrapper169.js-videoWrapper(data-id="pWZz9gYXGoA")
								.videoPoster.js-videoPoster.flex-center
					.videoReviews__body 
						a(href="#")  Название товара
						p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) 
			.videoReviews__column 
				.videoReviews__elem
					.videoReviews__img
						.timeblock-video
							.videoWrapper.videoWrapper169.js-videoWrapper(data-id="pWZz9gYXGoA")
								.videoPoster.js-videoPoster.flex-center
					.videoReviews__body 
						a(href="#")  Название товара
						p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) 