section.videoReviews
	.container 
		.videoReviews__top
			h2.title-3 Видеобзоры
			a(href="#").g-link.g-link-gray.g-link-tdu Смотреть все
		.videoReviews__wrap 
			.videoReviews__column 
				.videoReviews__elem
					.videoReviews__img
						iframe(width='250' height='250' src='https://www.youtube.com/embed/MnrJzXM7a6o' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
					.videoReviews__body 
						a(href="#")  Название товара
						p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) 
			.videoReviews__column 
				.videoReviews__elem
					.videoReviews__img
						iframe(width='250' height='250' src='https://www.youtube.com/embed/MnrJzXM7a6o' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
					.videoReviews__body 
						a(href="#")  Название видеобзора для товара
						p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) 
			.videoReviews__column 
				.videoReviews__elem
					.videoReviews__img
						iframe(width='250' height='250' src='https://www.youtube.com/embed/MnrJzXM7a6o' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
					.videoReviews__body 
						a(href="#")  Название товара
						p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) 