.top-slider{
	background-color: $mainColor;
	.container{
		position: relative;
	}
	.g-card1{
		max-width: 100%;
	}
	&__tabs{
		display: flex;
		align-items: center;
		padding: 50px 0 0px 0;
		border-bottom: 1px solid $lightGray;
		@media screen and(max-width: $tablet) {
			flex-direction: column;
			align-items: flex-start;
			padding-top: 50px;
		  }
		@media screen and(max-width: $mobile) {
			padding-top: 30px;
		  }
	}
	.top-slider__tabs-abs{
		position: absolute;
		width: 90%;
		z-index: 10;
		@media screen and(max-width: 1300px) {
			width: 88%;
		  }
		@media screen and(max-width: $desktop) {
			width: 85%;
		  }
		@media screen and(max-width: $large) {
			width: 80%;
		  }
		@media screen and(max-width: $tablet) {
			position: relative;
			width: 100%;
		  }
	}
	&__tabs-elem{
		margin-right: 80px;
		position: relative;
		padding-bottom: 35px;
		@media screen and(max-width: $desktop) {
			margin-right: 20px;
		  }
		  @media screen and(max-width: $tablet) {
			  padding-bottom: 20px;
			  margin-right: 0;
			  margin-bottom: 20px;
		  }
		&::before{
			content: '';
			position: absolute;
			left: 0;
			bottom: -2.5px;
			width: 100%;
			height: 3px;
			background-color: transparent;
			z-index: 2;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&__tabs-link{
		font-size: 24px;
		font-weight: 300;
		transition: all ease .2s;
	}
	.top-slider__tabs-elem.active{
		&::before{
			background-color: $accent;
		}
		.top-slider__tabs-link{
			color: $accent;
			font-weight: 700;
		}
	}

	&__swiper{
		padding-bottom: 70px;
		@media screen and(max-width: $tablet) {
			padding-bottom: 50px;
		  }
		@media screen and(max-width: $mobile) {
			padding-bottom: 30px;
		  }
	}
	.swiper-pagination{
		text-align: center;
	}
	.swiper-pagination-bullet{
		margin: 0 6px!important;
		background-color: transparent;
		outline: none;
		border: none;
		cursor: pointer;
		&:before{
			content: '✖';
			font-size: 16px;
			font-weight: 900;
		}
	}
	.swiper-pagination-bullet-active{
		&:before{
			color: $accent;
		}
	}
	.swiper-wrapper{
		padding-top: 140px;
		@media screen and(max-width: $tablet) {
			padding-top: 90px;
		  }
	}
	.swiper-slide{
		height: auto;
	}
	.catalogSlider__slider-nav{
		position: absolute;
		width: 100%;
		height: 10%;
		top: 62px;
		right: 25px;
		z-index: 10;
		@media screen and(max-width: $tablet) {
			top: 15px;
		  }
	}
	.swiper-button-prev, .swiper-button-next{
		position: absolute;
		top: 10px;
		cursor: pointer;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.25);
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid transparent;
		transition: all ease .2s;
		.svg-sprite-icon{
			width: 15px;
			height: 15px;
			fill: $accent;
		}
		&:hover{
			transition: all ease .2s;
			border: 1px solid $accent;
			box-shadow: none;
		}
	}
	.swiper-button-next{
		right: 0;
		.svg-sprite-icon{
			transform: rotate(270deg);
		}
	}
	.swiper-button-prev{
		right: 50px;
		.svg-sprite-icon{
			transform: rotate(90deg);
		}
	}
	&__swiper-elem{
		.block{
			position: relative;
			&__img{
				display: flex;
				justify-content: center;
				position: relative;
				background-color: $black;
				cursor: pointer;
				overflow: hidden;
				height: 495px;
				&:hover{
					img{
						transform: scale(1.1);
					}
				}
				img{
					max-width: 100%;
					transition: all ease .2s;
					min-height: 495px;
				}
			}
			&__new{
				position: absolute;
				top: -5px;
				right: -29px;
				width: 80px;
				background-color: $accent;
				color: #fff;
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 500;
				text-align: center;
				transform: rotate(45deg);
				padding: 15px 0 5px;
			}
			&__like{
				position: absolute;
				z-index: 5;
				top: 20px;
				left: 20px;
				display: block;
				&:hover{
					.svg-sprite-icon{
						fill: $accent;
					}
				}
				.svg-sprite-icon{
					width: 22px;
					height: 22px;
					fill: #d0d0d0;
					transition: all ease .2s;
				}
			}
			&__soldOutAt{
				display: flex;
				align-items: center;
				position: absolute;
				z-index: 3;
				left: 20px;
				bottom: 20px;
				background-color: #fff;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				cursor: default;
				&:hover{
					.block__soldOutAt-search{
						background-color: $accent;
						.svg-sprite-icon{
							transform: rotate(180deg);
						}
					}
				}
				.svg-sprite-icon{
					width: 16px;
					height: 16px;
					margin-right: 5px;
					transition: all ease .2s;
				}
			}
			&__soldOutAt-info{
				cursor: default;
				border-right: 2px solid $gray;
				padding: 3.5px 15px;
				span{
					color: $gray;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: 700;
				}
			}
			&__soldOutAt-search{
				display: block;
				font-size: 14px;
				color: $black;
				font-weight: 700;
				padding: 5px 15px;
				cursor: pointer;
				transition: all ease .2s;
			}
			.g-button-accent{
				position: absolute;
				right: 20px;
				bottom: 20px;
				font-size: 14px;
				padding: 5px 15px;
				font-weight: 700;
			}
			.g-button-consumerChoice{
				background-color: #52829A;
				&:hover{
					background-color: $black;
				}
			}
			&__body{
				padding: 25px 0 15px 0;
			}
			&__name{
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				color: $black;
				text-decoration: none;
				transition: all ease .2s;
				&:hover{
					color: $accent;
				}
			}
			&__price{
				font-size: 22px;
				font-weight: 900;
			}
		}
		.block__price.rub{
			display: flex;
			align-items: center;
			&:after{
				font-weight: 900;
			}
		}
	}
}