section.popular
	.container
		.popular__top
			h2.title-2 Популярные категории
			a(href="#").g-link.g-link-gray.g-link-tdu Смотреть все
		.popular__wrap 
			.popular__column
				a(href="nameSection.html").popular__item-full
					.popular__line 
						h3.title-4 Кассы Эвотор
						.popular__elem 
							+icon('down')
					.popular__img
						img.img(src="web/images/content/pop-1.png", alt="web")
					.popular__img
						img.img(src="web/images/content/pop-2.png", alt="web")
			.popular__column
				a(href="nameSection.html").popular__item
					.popular__line 
						h3.title-4 Сканеры WINSON
						.popular__elem 
							+icon('down')
					.popular__img
						img.img(src="web/images/content/pop-3.png", alt="web")
				a(href="nameSection.html").popular__item
					.popular__line 
						h3.title-4 Терминал сбора данных
						.popular__elem 
							+icon('down')
					.popular__img
						img.img(src="web/images/content/pop-4.png", alt="web")
			.popular__column
				a(href="nameSection.html").popular__item
					.popular__line 
						h3.title-4 Кассы Штрих-М
						.popular__elem 
							+icon('down')
					.popular__img
						img.img(src="web/images/content/pop-5.png", alt="web")
				a(href="nameSection.html").popular__item
					.popular__line 
						h3.title-4 Маркировка товаров
						.popular__elem 
							+icon('down')
					.popular__img
						img.img(src="web/images/content/pop-6.png", alt="web")
			.popular__column
				a(href="nameSection.html").popular__item
					.popular__line 
						h3.title-4 Кассы Эвотор
						.popular__elem 
							+icon('down')
					.popular__img
						img.img(src="web/images/content/pop-7.png", alt="web")
				a(href="nameSection.html").popular__item
					.popular__line 
						h3.title-4 Принтеры цветных этикеток
						.popular__elem 
							+icon('down')
					.popular__img
						img.img(src="web/images/content/pop-8.png", alt="web")