section.questions.scroll-bar 
	.container 
		h2.title-3 Часто задаваемые вопросы
		.questions__wrap
			.questions__left
				.questions__elem(data-linkvalue="121")
					.questions__top
						.questions__el 
							span
						.questions__body 
							h5 Каждый из нас понимает очевидную вещь: курс на социально-ориентированный национальный проект . 
					.questions__sub(data-ulvalue="121")
						p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании поставленных обществом задач. 
				.questions__elem(data-linkvalue="122")
					.questions__top
						.questions__el 
							span
						.questions__body 
							h5 Каждый из нас понимает очевидную вещь: курс на социально-ориентированный национальный проект . 
					.questions__sub(data-ulvalue="122")
						p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании поставленных обществом задач. 
				.questions__elem(data-linkvalue="123")
					.questions__top
						.questions__el 
							span
						.questions__body 
							h5 Каждый из нас понимает очевидную вещь: курс на социально-ориентированный национальный проект . 
					.questions__sub(data-ulvalue="123")
						p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании поставленных обществом задач. 
				.questions__elem(data-linkvalue="111")
					.questions__top
						.questions__el 
							span
						.questions__body 
							h5 Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании поставленных обществом задач. 
					.questions__sub(data-ulvalue="111")
						p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании поставленных обществом задач. 
				.questions__elem(data-linkvalue="112")
					.questions__top
						.questions__el 
							span
						.questions__body 
							h5 Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании поставленных обществом задач. 
					.questions__sub(data-ulvalue="112")
						p Безусловно, новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании поставленных обществом задач. 
			form.questions__right 
				h2.title-3 Нужна консультация?
				p Подберем оборудование для маркировки на любой бюджет! Доставка по все РФ
				label.g-label
					input(type="text" placeholder="Ваше имя" name="name" required)
					+icon('men')
				label.g-label
					input(type="tel" placeholder="Номер телефона" name="phone" required)
					+icon('phone')
				.questions__check.myInp
					input(type="checkbox" id="check1")
					label(for="check1") Отправляя форму вы принимаете условия обработки 
						a(href="#").g-link.g-link-tdu персональных данных
				.questions__btn 
					button.button.button-blank Перезвоните мне