section.top__slider
	.top__slider-wrap 
		.swiper-container.mySwiper
			.swiper-wrapper
				.swiper-slide
						picture
							source.img-cover(srcset="web/images/content/test.jpg" media="(min-width: 577px)")
							img(src="web/images/content/test-sm.jpg", alt="slide__img")
				.swiper-slide
						picture
							source.img-cover(srcset="web/images/content/slider-1.jpg" media="(min-width: 577px)")
							img(src="web/images/content/slider-1-sm.jpg", alt="slide__img")
				.swiper-slide
						picture
							source.img-cover(srcset="web/images/content/slider-1.jpg" media="(min-width: 577px)")
							img(src="web/images/content/slider-1-sm.jpg", alt="slide__img")
				.swiper-slide
						picture
							source.img-cover(srcset="web/images/content/slider-1.jpg" media="(min-width: 577px)")
							img(src="web/images/content/slider-1-sm.jpg", alt="slide__img")
				.swiper-slide
						picture
							source.img-cover(srcset="web/images/content/slider-1.jpg" media="(min-width: 577px)")
							img(src="web/images/content/slider-1-sm.jpg", alt="slide__img")
				.swiper-slide
						picture
							source.img-cover(srcset="web/images/content/slider-1.jpg" media="(min-width: 577px)")
							img(src="web/images/content/slider-1-sm.jpg", alt="slide__img")
			.swiper-pagination
		.top__slider-right
			.top__slider-elem 
				img.img-cover(src="web/images/content/slider-img-1.png", alt="slider-img-1")
				.top__slider-cont
					h3 Подобрать <br>кассу
				a(href="#").click 
					+icon('down')
			.top__slider-elem 
				img.img-cover(src="web/images/content/slider-img-2.png", alt="slider-img-2")
				.top__slider-cont
					h3 Оставить анкету на <br> автоматизацию
				a(href="#").click2
					img.img(src="web/images/content/web.png", alt="web")
	.container 
		.top__slider-body 
			.top__slider-l
				img.img(src="web/images/content/spec-1.png", alt="spec-1")
			.top__slider-r
				p.top__slider-r-text Высокопрофессиональные, обученные,<br> 
					span отличные технические специалисты! 
				.top__slider-inf 
					.top__slider-el
						img.img(src="web/images/content/spec-2.png", alt="spec-2")
						p Решат любую проблему 
					.top__slider-el
						img.img(src="web/images/content/spec-3.png", alt="spec-3")
						p Разберутся в самой сложной ситуации
					.top__slider-el
						img.img(src="web/images/content/spec-4.png", alt="spec-4")
						p Сертифицированные специалисты