extends layout/main

block variables
	-let title = 'Typical'

block content
	a(href="#" id="back2Top" title="Наверх")
		+icon('arrow-top')
	section.catalog-top
		.container 
			.catalog__top 
				ul.breadcrumbs-menu
					li
						a(href="#") Главная 
					li.active 
						a(href="#") Каталог
				h2.title-1 Заголовок Н1
	section.typical.section-ind 
		.container
			h2.title-3 Загловок Н2
			p.text Группа компаний «Брэнд Селект» занимается продажей и внедрением торгово-кассового оборудования и программного обеспечения для крупных магазинов, среднего бизнеса и небольших торговых точек.
			p.text Мы поставляем технику, выпускаемую известными российскими и зарубежными производителями (АТОЛ, Эвотор, Штрих-М, Godex, TSC и т. д.), а также реализуем сканеры штрихкодов Winson собственной разработки. Наши специалисты осуществляют комплексную технологическую поддержку клиентов, включающую установку, подключение и тестирование оборудования, его замену и ремонт при возникновении неисправностей в рамках гарантийного и постгарантийного сервиса ...
			h3.title-5 Заголовок Н3
			ul.g-ul-icon
				li
					.elem
						img.img(src="web/images/content/ul-img.png", alt="ul-img")
					p.text Группа компаний «Брэнд Селект» занимается продажей и внедрением торгово-кассового оборудования и программного обеспечения для крупных магазинов, среднего бизнеса и небольших торговых точек.
				li
					.elem
						img.img(src="web/images/content/ul-img.png", alt="ul-img")
					p.text Мы поставляем технику, выпускаемую известными российскими и зарубежными производителями (АТОЛ, Эвотор, Штрих-М, Godex, TSC и т. д.), а также реализуем сканеры штрихкодов Winson собственной разработки. 
				li
					.elem
						img.img(src="web/images/content/ul-img.png", alt="ul-img")
					p.text Наши специалисты осуществляют комплексную технологическую поддержку клиентов, включающую установку, подключение и тестирование оборудования, его замену и ремонт при возникновении неисправностей в рамках гарантийного и постгарантийного сервиса ...
			.g-table-big
				table
					tbody
						tr
							th Название столбца
							th Описание
							th Параметр
						tr
							td Название столбца
							td Описание
							td Параметр
						tr
							td Название столбца
							td Описание
							td Параметр
						tr
							td Название столбца
							td Описание
							td Параметр
						tr
							td Название столбца
							td Описание
							td Параметр
			.marked-unit
				.elem 
				p Группа компаний «Брэнд Селект» занимается продажей и внедрением торгово-кассового оборудования и программного обеспечения для крупных магазинов, среднего бизнеса и небольших торговых точек.
				p Мы поставляем технику, выпускаемую известными российскими и зарубежными производителями (АТОЛ
			h5.title-6 Заголовок Н4
			ul.g-ul-icon
				li
					span 01
					p.text Группа компаний «Брэнд Селект» занимается продажей и внедрением торгово-кассового оборудования и программного обеспечения для крупных магазинов, среднего бизнеса и небольших торговых точек.
				li
					span 02
					p.text Мы поставляем технику, выпускаемую известными российскими и зарубежными производителями (АТОЛ, Эвотор, Штрих-М, Godex, TSC и т. д.), а также реализуем сканеры штрихкодов Winson собственной разработки. 
				li
					span 03
					p.text Наши специалисты осуществляют комплексную технологическую поддержку клиентов, включающую установку, подключение и тестирование оборудования, его замену и ремонт при возникновении неисправностей в рамках гарантийного и постгарантийного сервиса ...