section.clients
	.container
		.clients__top
			h2.title-2 Наши клиенты
		.swiper-container.clients-slider
			.swiper-wrapper
				.swiper-slide 
					.clients__elem 
						.clients__img 
							img.img(src="web/images/content/cl-1.png", alt="")
				.swiper-slide 
					.clients__elem 
						.clients__img 
							img.img(src="web/images/content/cl-2.png", alt="")
				.swiper-slide 
					.clients__elem 
						.clients__img 
							img.img(src="web/images/content/cl-3.png", alt="")
				.swiper-slide 
					.clients__elem 
						.clients__img 
							img.img(src="web/images/content/cl-4.png", alt="")
				.swiper-slide 
					.clients__elem 
						.clients__img 
							img.img(src="web/images/content/cl-5.png", alt="")
				.swiper-slide 
					.clients__elem 
						.clients__img 
							img.img(src="web/images/content/cl-6.png", alt="")
				.swiper-slide 
					.clients__elem 
						.clients__img 
							img.img(src="web/images/content/cl-1.png", alt="")
		.swiper-button-next
			+icon('down')
		.swiper-button-prev
			+icon('down')