// Colors
$white: #fff;
$black: #0B1321;
$allBlack: #000;
$gray: #454545;
$lightGray: #9A9A9A;
$mainColor: #F2F2F2;
$accentColor: #C1C1C1;
$accent: #F45040;
$fiol: #796EF8;


// Sizes
$base-font-size: 16px;

$mobile: 577px;
$tablet: 768px;
$large: 992px;
$desktop: 1199px;

$content: 1560px;

// Fonts
$mainFont: 'Roboto'