section.servic
	.container
		.servic__top
			h2.title-3 Популярные услуги
			a(href="#").g-link.g-link-gray.g-link-tdu Смотреть все  услуги
		.servic__wrap 
			.servic__column 
				a(href="#").servic__elem 
					.servic__img
						img.img-cover(src="web/images/content/serv-1.png", alt="")
					.servic__body 
						p.title-4 Регистрация онлайн кассы в ФНС
			.servic__column 
				a(href="#").servic__elem 
					.servic__img
						img.img-cover(src="web/images/content/serv-2.png", alt="")
					.servic__body 
						p.title-4 Замена фискального накопителя
			.servic__column 
				a(href="#").servic__elem 
					.servic__img
						img.img-cover(src="web/images/content/serv-3.png", alt="")
					.servic__body 
						p.title-4 Ввод ККТ в эксплуатацию
			.servic__column 
				a(href="#").servic__elem 
					.servic__img
						img.img-cover(src="web/images/content/serv-4.png", alt="")
					.servic__body 
						p.title-4 Подключение к ОФД