section.catalog-top
	.container 
		.catalog__top 
			ul.breadcrumbs-menu
				li
					a(href="#") Главная 
				li.active 
					a(href="#") Каталог
			h2.title-1 Каталог
section.catalog 
	.container
		.catalog__wrap
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-1.png", alt="log1")
					p Онлайн кассы АТОЛ
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-2.png", alt="log2")
					p Онлайн кассы Эвотор 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-3.png", alt="log3")
					p Онлайн кассы ШТРИХ-М 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-4.png", alt="log4")
					p Аренда онлайн-касс 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-5.png", alt="log5")
					p Фискальные накопители 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-6.png", alt="log6")
					p ОФД 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-7.png", alt="log7")
					p Программное обеспечение для автоматизации торговли 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-8.png", alt="log8")
					p Поссистемы
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-9.png", alt="log9")
					p Принтеры этикеток 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-10.png", alt="log10")
					p Сканеры штрихкодов 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-11.png", alt="log11")
					p Терминалы сбора данных 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-12.png", alt="log12")
					p POS-периферия 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-13.png", alt="log13")
					p Программное обеспечение для работы с кассой  
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-14.png", alt="log14")
					p Программное обеспечение для  принтеров  
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-15.png", alt="log15")
					p Программное обеспечение для ТСД  
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-16.png", alt="log16")
					p Весовое оборудование  
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-17.png", alt="log17")
					p Банковское оборудование   
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-18.png", alt="log18")
					p Ручные аппликаторы этикеток 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-19.png", alt="log19")
					p Принтеры пластиковых карт
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-20.png", alt="log20")
					p Смотчики этикеток 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-21.png", alt="log21")
					p Считыватели магнитных карт  
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-22.png", alt="log22")
					p Красящие ленты для принтеров этикеток  
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-23.png", alt="log23")
					p Самоклеющиеся этикетки для принтеров штрихкода  
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-24.png", alt="log24")
					p Чековая лента  
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-25.png", alt="log25")
					p Оборудование для эквайринга 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-26.png", alt="log26")
					p Оборудование для маркировки товаров 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-27.png", alt="log27")
					p Оборудование для ЕГАИС 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-28.png", alt="log28")
					p RFID-оборудование 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-29.png", alt="log29")
					p Прайс-чекеры/ инфокиоски 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
			.catalog__elem 
				.catalog__item
					.catalog__img
						img.img(src="web/images/content/log-30.png", alt="log30")
					p Энкодеры 
					.catalog__ic 
						+icon('down')
				.catalog__block 
					ul
						li
							a(href="#") Красящая лента (риббоны) TSC
						li
							a(href="#") Красящая лента для бумажных полуглянцевых этикеток
						li
							a(href="#") Красящая лента для полипропиленовых (пластиковых) этикеток
						li
							a(href="#") Красящая лента для нейлоновой текстильной ленты
