
section.top-slider
	.container
		ul.top-slider__tabs.top-slider__tabs-abs
			li.top-slider__tabs-elem.g-hover-menu
				a(href="#").top-slider__tabs-link Распродажа
			li.top-slider__tabs-elem.g-hover-menu
				a(href="#").top-slider__tabs-link Новинки
			li.top-slider__tabs-elem.g-hover-menu
				a(href="#").top-slider__tabs-link Популярные товары
		.tabs__content-wrap
			.tabs__content-item
				.swiper-container.top-slider__swiper
					.swiper-wrapper.g-card1__wrap-sea
						.swiper-slide
							+card(1,true, true, false, 'g-card-1.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-s')
						.swiper-slide
							+card(2,true, false, true, 'g-card-2.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '', 'g-product-quantity__inp-s')
						.swiper-slide
							+card(3,true, true, false, 'g-card-3.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '', 'g-product-quantity__inp-s')
						.swiper-slide
							+card(4,true, false, true, 'g-card-4.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-s')
						.swiper-slide
							+card(5,true, false, false, 'g-card-5.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-s')
						.swiper-slide
							+card(6,true, false, false, 'g-card-5.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-s')
						.swiper-slide
							+card(7,true, false, false, 'g-card-5.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-s')
					.catalogSlider__slider-nav
						.swiper-button-prev
							+icon('down')
						.swiper-button-next
							+icon('down')
			.tabs__content-item
				.swiper-container.top-slider__swiper
					.swiper-wrapper.g-card1__wrap-sea2
						.swiper-slide
							+card(8,true, true, false, 'g-card-1.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-2')
						.swiper-slide
							+card(9,true, true, false, 'g-card-1.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-2')
						.swiper-slide
							+card(10,true, true, false, 'g-card-2.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-2')
						.swiper-slide
							+card(11,true, true, false, 'g-card-2.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-2')
						.swiper-slide
							+card(12,true, true, false, 'g-card-3.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-2')
						.swiper-slide
							+card(13,true, true, false, 'g-card-4.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-2')
						.swiper-slide
							+card(14,true, true, false, 'g-card-4.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-2')
					.catalogSlider__slider-nav
						.swiper-button-prev
							+icon('down')
						.swiper-button-next
							+icon('down')
			.tabs__content-item
				.swiper-container.top-slider__swiper
					.swiper-wrapper.g-card1__wrap-sea3
						.swiper-slide
							+card(15,true, true, false, 'g-card-2.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-3')
						.swiper-slide
							+card(16,true, true, false, 'g-card-2.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-3')
						.swiper-slide
							+card(17,true, true, false, 'g-card-2.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-3')
						.swiper-slide
							+card(18,true, true, false, 'g-card-1.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-3')
						.swiper-slide
							+card(19,true, true, false, 'g-card-1.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-3')
						.swiper-slide
							+card(20,true, true, false, 'g-card-1.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-3')
						.swiper-slide
							+card(21,true, true, false, 'g-card-1.png', 'img', 'CK 1378/N', 'Смарт-терминал Эвотор 5i с эквайрингом', '12 345', '14 000', 'g-product-quantity__inp-3')
					.catalogSlider__slider-nav
						.swiper-button-prev
							+icon('down')
						.swiper-button-next
							+icon('down')

