footer.footer
	.container
		.footer__wrap 
			.footer__item.footer__item-right
				a(href="#").footer__logo 
					img.img(src="web/images/content/footer__logo.svg", alt="footer__logo")
				a(href="tel:+7(495)229-30-84").g-link-white.tel +7(495)229-30-84
				.footer__socials 
					a(href="#").footer__soc 
						+icon('vk')
					a(href="#").footer__soc 
						+icon('instagram')
					a(href="#").footer__soc 
						+icon('facebook')
					a(href="#").footer__soc 
						+icon('youtube-logotype')
					a(href="#").footer__soc 
						+icon('odnoklassniki')
			.footer__item
				.footer__item-mnu
					ul
						li
							a(href="#").g-link-white.g-link Центр загрузок
						li
							a(href="#").g-link-white.g-link О компании
						li
							a(href="#").g-link-white.g-link Контакты
						li
							a(href="#").g-link-white.g-link Распродажа
						li
							a(href="#").g-link-white.g-link Отраслевые решения
					ul
						li
							a(href="#").g-link-white.g-link Услуги
						li
							a(href="catalog.html").g-link-white.g-link Каталог
						li
							a(href="#").g-link-white.g-link Доставка и оплата
						li
							a(href="#").g-link-white.g-link Сервис и поддержка 
			.footer__item.footer__item-ttc.footer__item-ord
				.footer__mail 
					a(href="mailto:info@brandselect.ru").g-link-white 
						+icon('mail')
						span info@brandselect.ru
				.footer__map  
						+icon('map')
						span Москва, ул. Руставели 1/2, 1 этаж.
				span.footer__inf Время работы отдела продаж:  
				p пн-пт 09:00-18:00
			.footer__item.footer__item-ttc
				.footer__i.tar ©2008-2021 ООО "Компания Брэнд Селект". Все права защищены. Материалы сайта являются интеллектуальной собственностью ООО "Компания Брэнд Селект". Копирование материалов без письменного разрешения администрации запрещено.
				a(href="#").g-link-white.g-link.g-link-tdu.fz-12.tar Пользовательское соглашение
				p.fz-12.tar Разработка - Digital-агентство WebReforma.ru